<p><%= form.text_field(:hint, :size => 50) %></p>

<% if defined? observe_field %>
  <%= observe_field(:custom_field_field_format, :function => 'toggle_extended_field_format();') %>
<% else %>
  <!-- TODO -->
<% end %>

<% content_for :header_tags do %>
  <% projects = Project.all_public.active(:order => 'name').collect{ |project| [ project.id, project.name ] } %>

  <script type="text/javascript">
  //<![CDATA[
    var projects = <%= String.method_defined?(:html_safe) ? projects.to_json.html_safe : projects.to_json %>;
    var actionview_instancetag_blank_option = '<%= "--- #{l(:actionview_instancetag_blank_option)} ---" %>';
  //]]>
  </script>

  <%= javascript_include_tag('extended_prototype', :plugin => 'extended_fields') %>
  <%= javascript_tag("Event.observe(window, 'load', toggle_extended_field_format);") %>
<% end %>
